@using SurveyWebAPI.Models;
@model List<Question>
@{
    ViewBag.Title = "Survey";
}
<table>
    <tr>
        <td style=" width: 50%">
            <h2>@ViewData["SurveyName"]</h2>
        </td>
        <td style="text-align: right">
            <a href='@Url.Action("CreateQuestion", "Home", new { id = ViewData["SurveId"] })'>
                <input type='button' value='Add new Question'/>
            </a>
        </td>
      
    </tr>
</table>

  
    @if (Model.Count == 0)
    {
        <p>List of question is empty</p>
    }

    @if (Model.Count != 0)
    {

        <table>
            @foreach (Question quest in Model)
            {

                <tr>
                    <td style="border: 1px solid black; width: 50%" >
                        
                            <span class="maintext">@quest.Name</span><br />
                            <span class="descrtext"> @quest.Description</span>
                        
</td>
                    <td style="border: 1px solid black;">
                        @{
                            List<Answer> answers = quest.QuestionAnswers;
                                                       
                            
                            @if (answers.Count == 0)
                            {
                                <p>No answers have been set</p>
                            }

                            @if (answers != null)
                            {
                                <ul>
                                    @foreach (Answer answ in answers)
                                    {
                                        <li>
                                            @answ.Name
                                        </li>
                                    }


                                </ul>

                            }



                        }
                    </td>
                </tr>
                

            }
        </table>
    }

